<div class="card">
  <div class="card-header">
    Chat
  </div>
  <div class="card-body">

    <ng-container *ngIf="chatMessage$ | async as chatMessage; else loadingChat">
      <ng-container *ngIf="chatMessage.length > 0; else notFoundMessage">
        <ul class="chat-messages-list">
<app-chat-message-row [msg] ='msg' *ngFor="let msg of chatMessage"></app-chat-message-row>
        </ul>
      </ng-container>
      <ng-template #notFoundMessage>
        <strong class="text-muted">Nincs meg uzenet</strong>
      </ng-template>
    </ng-container>
    <ng-template #loadingChat>
      <app-loading-spinner [loaderWidth]="100" [loaderHeight]="100"></app-loading-spinner>
    </ng-template>
  </div>
  <div class="card-footer">
<app-chat-message-send-form
  [(reset)] = "resetForm"
  (newMessage)="onNewMessage($event)"></app-chat-message-send-form>
  </div>
</div>
