
<div class="row" *ngIf="displayBidStep; else bidWithValue">
  <div class="col-12">
    <a class="btn btn-primary text-light" (click)="onBidWithBidStep()">Licit a kovetkezo legkisebb licittel :
      {{ticket.currentBid+ticket.bidStep}} Ft</a>
  </div>
  <div class="col-12">
    <a href="#" (click)="displayBidWithStep($event)">Inkabb megadom en a licit erteket</a>
  </div>
</div>
<ng-template #bidWithValue>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <input
          [ngClass]="{'is-invalid': submitted && form.get('bid').invalid}"
          formControlName="bid"
          type="number"
          class="form-control"
          placeholder="Add meg a licit ertekedet">
        <div class="invalid-feedback" *ngIf="form.get('bid').hasError('required')">
          Kotelezo licit erteket megadni!</div>
        <div class="invalid-feedback" *ngIf="form.get('bid').hasError('validateMinimumBid')">
          Minimum licit amit tehetsz: {{ticket.currentBid + ticket.bidStep}} Ft.</div>
      </div>

      <div class="col-6">
        <button type="submit" class="btn btn-primary text-light" role="button">Licitalok</button>
      </div>
    </div>
  </form>
</ng-template>
{{form.value | json}}
{{form.get('bid').errors | json}}
