
<app-jumbotron>
  <h1 class="display-4 mb-4">Jegyek bárkitől, bárhol, bármikor!</h1>
  <p class="lead">Használd a Jegybazárt és csereberélj jegyeket a legjobb bulikra. Elfogyott? Az orrod elől vitték el az utolsót? Ne aggódj, irány a JegyBazár!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg mt-4 mb-0" routerLink="/event/list" role="button">Nézzük az eseményeket!</a>
  </p>
</app-jumbotron>
<button routerLink="./list">List</button>
<button routerLink="./new">New</button>
<button routerLink="./4/bid">Bid</button>
<router-outlet></router-outlet>
